<!DOCTYPE html>
<html>
<head>
  <title>Mymoviesearch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css" %>
  <%= javascript_include_tag "https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js" %>
  <%= javascript_include_tag "https://www.atlasestateagents.co.uk/javascript/tether.min.js" %>
  <%= javascript_include_tag "https://npmcdn.com/packery@2.0/dist/packery.pkgd.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
